<div id="content-background">
	<div class="project-div">
		<a href="http://students.washington.edu/chrisli8/info343/dawg-coffee" ><img class="project-img" src="img/dawg-coffee-img.png" alt="project"></img></a>
		<h1>Dawg Coffee</h1>
		<h2>Utilizes Bootstrap</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>

	<div class="project-div">
		<a href="http://students.washington.edu/chrisli8/info343/spotify-challenge" ><img class="project-img" src="img/spotify-challenge-img.png" alt="project"></img></a>
		<h1>Spotify Challenge</h1>
		<h2>Utilizes Spotify API &amp; Angular</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>

	<div class="project-div">
		<a href="http://students.washington.edu/chrisli8/info343/police-shooting" ><img class="project-img" src="img/police-shooting-img.png" alt="project"></img></a>
		<h1>Police Shootings</h1>
		<h2>Utilizes Leaflet Library</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>

	<div class="project-div">
		<a href="http://students.washington.edu/chrisli8/info343/family-photo" ><img class="project-img" src="img/family-photo-img.png" alt="project"></img></a>
		<h1>Family Photo</h1>
		<h2>Utilizes Parse Library</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>

