<div class="contain-fluid home-img">
	<div id="home-welcome">
		<h1>Welcome</h1>
		<h2>Christopher Li's Portfolio</h1>
	</div>
</div>

<div id="home-info">
	<h2>Get to Know Me</h2>
	<div class="col-xs-4">
		<div>
			<i class="fa fa-tasks fa-3x"></i>
			<h3>Projects</h3>
		</div>
	</div>

	<div class="col-xs-4">
		<div>
			<i class="fa fa-flask fa-3x"></i>
			<h3>Research</h3>
		</div>
	</div>

	<div class="col-xs-4">
		<div>
			<i class="fa fa-comments fa-3x"></i>
			<h3>About Me</h3>
		</div>
	</div>
</div>